# Workshop 2: Python Programming (Part 2)

### * Warm-up exercise.
#### Could you design a script to convert a positive integer into the format `hh:mm:ss`?

In [32]:
def h_M_S (num):
    hh = (num//3600)
    mm = (num-hh*3600)//60
    ss = num%60
    val = (f"{hh}:{mm}:{ss}")
    return (val)

In [33]:
print(h_M_S(45236))

12:33:56

## 1. Logical Operations
### 1.1 Bool
Booleans represent one of two values: `True` or `False`.

|Python Comparison Operators|Description|
|--------|--------|
|==	|equality operator returns true if values are the same|
|!=	|not equal operator	|
|>	|Checks if the value of left operand is greater than the value of right operand	|
|<	|Checks if the value of left operand is less than the value of right operand|
|>=	|Checks if the value of left operand is greater than or equal to the value of right operand	|
|<=	|Checks if the value of left operand is less than or equal to the value of right operand|

In [34]:
a,b = 1,5
print(f"a = {a} and b = {b} So :")
print(f"a==b is {a==b}")
print(f"a>b is {a>b}")
print(f"a<b is {a<b}")
print(f"a!=b is {a!=b}")
print(f"a>=b is {a>=b}")
print(f"a<=b is {a<=b}")

a = 1 and b = 5 So :
a==b is False
a>b is False
a<b is True
a!=b is True
a>=b is False
a<=b is True

### 1.2 `or` & `and` & `not`
| Result of exp1    | Result of exp2 |Result of exp1 OR exp2 |
| -------- | ------- |--------|
| True |True   |True|
| True |False  |True|
| False|True   |True|
| False|False  |False|

| Result of exp1    | Result of exp2 |Result of exp1 AND exp2 |
| -------- | ------- |--------|
| True |True   |True|
| True |False  |False|
| False|True   |False|
| False|False  |False|

| Result of exp    | Result of NOT exp |
| -------- | ------- |
| True |False   |
| False |True  |

Visualization: https://kazuhikoarase.github.io/simcirjs/

In [35]:
print(f"if  we have True or False we will get {True or True} ")
print(f"if  we have True or False we will get {True or False} ")
print(f"if  we have True or False we will get {False or False} ")
print(f"if  we have True or False we will get {True or False} ")
print(f"if  we have True AND False we will get {True and True} ")
print(f"if  we have True AND False we will get {True and False} ")
print(f"if  we have True AND False we will get {False and True} ")
print(f"if  we have True AND False we will get {False and False} ")

if  we have True or False we will get True
if  we have True or False we will get True
if  we have True or False we will get False
if  we have True or False we will get True
if  we have True AND False we will get True
if  we have True AND False we will get False
if  we have True AND False we will get False
if  we have True AND False we will get False

### 1.3 Decimal and Binary
The decimal (base ten) numeral system has ten possible values (0,1,2,3,4,5,6,7,8, or 9) for each place-value. In contrast, the binary (base two) numeral system has two possible values represented as 0 or 1 for each place-value. The binary system is the internal language of electronic computers.

In [36]:
num = 45
binary = bin(num)
print(binary)
int(binary,2)

0b101101

45

## 2. Selection Structure
The result of an if operation is a boolean (`True` / `False`) value and code is executed or not depending upon these value. In python we use the following constructs:

In [65]:
a = 1
b = 5
print (a == b)

False

#### Exercise 1. Given a string variable `my_str`, could you design a script to output "`the length of the string is over 15`" when the length of the string is greater than 15 and "`the length of the string is under 15`" when the length of the string is less than 15.

In [37]:
def len_cal(string):
    if (len((string))>=15):
        return (f"the length of the string is over 15")
    else :
        return (f"the length of the string is under 15")

In [38]:
my_str = "this is boyuan's class"
print(len_cal(my_str))

the length of the string is over 15

#### Exercise 2. Could you design a script to determine if a number is even or odd?

In [39]:
def eve_chk(num:int):
    return "even" if (num % 2)==0 else "odd"

In [40]:
val = 222
print(eve_chk(val))

even

#### Exercise 3. Given three numbers a, b and c, could you design a script to output the maximum of them by using if statement.

In [41]:
a,b,c=4,8,2
if ((a>=b)and(a>=c)):
    mx=a
elif ((b>=a)and(b>=c)):
    mx=b
else :
    mx=c
print(f"the maximum value is {mx}")

the maximum value is 8

#### Exercise 4. Could you design a script that takes a student's score as input and prints their grade (Distinction: 70-100, Merit: 60-70, Pass: 50-60, Fail: Under 50)

In [42]:
def grading(num):
    if 0<num<100:
        if 50<num<=60:
            return ("Pass")
        elif 60<num<=70:
            return ("Merit")
        elif 70<num<=100:
            return ("Distinction")
        else :
            return ("Fail")
    else:
        return ("not a valid value")

In [43]:
print(grading(78))

Distinction

#### Exercise 5. Could you design a script that checks if a given year is a leap year or not. Leap years are divisible by 4, but not by 100 unless they are divisible by 400.

In [44]:
def leap_chk(val):
    if ((val>0) and (val%4 == 0) and ((val%100 == 0) or (val%400 == 0))):
        return ("it's a leap year!!!!")
    else :
        return ("it's a normal year!!!")

In [45]:
print(f"1400: {leap_chk(1400)}")
print(f"1384: {leap_chk(1400)}")

1400: it's a leap year!!!!
1384: it's a leap year!!!!

## 3. Iteration Structure
Python has two main looping constructs `for` and `while`, `for` loops operate on ranges of data, `while` loops repeat while a condition is met.
### 3.1 `for` loops
#### for + list, tuple, dictionary, string

In [46]:
lst = [1,2,3,4,5,5,4]
for item in lst:
    print(item)

1
2
3
4
5
5
4

In [47]:
tup = (1,2,3,4,5,5,4)
for item in tup:
    print(item)

1
2
3
4
5
5
4

In [48]:
st = {1,2,3,4,5,5,4}
for item in st:
    print(item)

1
2
3
4
5

In [49]:
dct = {
    "name":"mehdi",
    "lastname":"almousavi",
    "id":5602288
    }
for  key,value in dct.items():
    print(f"{key} equals to {value}")

name equals to mehdi
lastname equals to almousavi
id equals to 5602288

#### for + range(start, stop, step)

In [50]:
for i in range (100,0,-5):
    print(i,end=",")

100,95,90,85,80,75,70,65,60,55,50,45,40,35,30,25,20,15,10,5,

#### Exercise 6. Could you design a script to draw a triangle?

In [51]:
num = 5
for i in range (num):
    print((num-i)*" ",end="")
    print((i)*"* ")

    *
   * *
  * * *
 * * * *

#### Exercise 7. Could you design a script to calculate the sum of the first N terms of the sequence
$$1 + \frac{1}{2} + \frac{1}{3} + ...+\frac{1}{n}$$

In [67]:
n = int(input("enter a value of n :"))
sum = 0
for i in range(1,n):
    sum += (1/i)
print(sum)

2.083333333333333

#### Exercise 8. A daffodil number is a positive integer whose sum of the cubes in each bit equals itself. Could you design a script to output all the daffodils in the range of (0, 1000).

In [53]:
for n in range (1000):
    i= (n//100)
    j= (n//10%10)
    k= (n%10)
    if ((i**3 + j**3 + k**3 ) == n):
        print (f"{n} is a daffodil number")

0 is a daffodil number
1 is a daffodil number
153 is a daffodil number
370 is a daffodil number
371 is a daffodil number
407 is a daffodil number

#### Exercise 9. Could you design a script to output all prime numbers between 1 and 100.

In [54]:
for i in range (1,100):
    n = 0
    for j in  range (1,i+1):
       if i%j == 0 :
           n += 1
    if n == 2 :
        print (f"{i} is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

### 3.2 `while` loop
#### while + condition

In [55]:
i=0
while (i<5):
    print (i)
    i += 1

0
1
2
3
4

## 4. List
Lists are used to store multiple items in a single variable.

### 4.1 Defining a list
#### Manually input:

In [56]:
lst = [1,2.14,"jj",4,[1,2,3]]
print (lst)

[1, 2.14, 'jj', 4, [1, 2, 3]]

#### Append method:

In [57]:
lst.append(2525)
print(lst)

[1, 2.14, 'jj', 4, [1, 2, 3], 2525]

#### For loop method:

In [58]:
for itm in lst:
    print (itm)

1
2.14
jj
4
[1, 2, 3]
2525

#### `list()` method

In [59]:
lst = list((5,6,8,4,1,3,-2,3.14,"hello"))
print (lst)

[5, 6, 8, 4, 1, 3, -2, 3.14, 'hello']

### 4.2 List Methods
#### Access list items

In [60]:
print(lst[5])

3

#### Change items

In [61]:
lst[5] = 700
print(lst[5])

700

#### Add items

In [62]:
lst.append(2020)
print(lst)

[5, 6, 8, 4, 1, 700, -2, 3.14, 'hello', 2020]

#### Remove items

In [63]:
lst.remove("hello")
print(lst)

[5, 6, 8, 4, 1, 700, -2, 3.14, 2020]

#### Sort list

In [64]:
#lst.sort()
#print(lst)
print(sorted(lst))

[-2, 1, 3.14, 4, 5, 6, 8, 700, 2020]

#### Exercise 10. Given a list, could you write a Python program to swap first and last element of the list?

In [68]:
print (lst)
lst[-1] , lst[0] = lst[0] , lst[-1]
print (lst)

[5, 6, 8, 4, 1, 700, -2, 3.14, 2020]
[2020, 6, 8, 4, 1, 700, -2, 3.14, 5]

#### Exercise 11. Could you design a script to remove words in `test_list` which are composite of certain letters in `char_list`.

In [81]:
char_list = ["s","a","m"]
test_list = ["Buildings in London", "are too diverse", "to be characterised", "by any particular architectural style"]
for itm in test_list:
    for chr in char_list:
        if (chr in itm):
            test_list.remove(itm)
            break
print (test_list)

['are too diverse', 'by any particular architectural style']

#### Exercise 12. Could you design a script to separate the following list into words?
`test_list = ["Buildings in London", "are too diverse", "to be characterised", "by any particular architectural style"]`

In [91]:
test_list = ["Buildings in London", "are too diverse", "to be characterised", "by any particular architectural style"]
w_list = []
string =""
for itm in test_list:
    w_list.append(string)
    string =""
    for w in itm:
        if w == " ":
            w_list.append(string)
            string =""
        else:
            string += w
w_list.remove("") 
print (w_list)

['Buildings', 'in', 'London', 'are', 'too', 'diverse', 'to', 'be', 'characterised', 'by', 'any', 'particular', 'architectural']

#### Exercise 13. Could you design a script to separate the following list into characters?
`test_list = ["Buildings in London", "are too diverse", "to be characterised", "by any particular architectural style"]`

In [92]:
test_list = ["Buildings in London", "are too diverse", "to be characterised", "by any particular architectural style"]
w_list = []

for itm in test_list:
    for chr in itm:
        w_list.append(chr)
print(w_list)

['B', 'u', 'i', 'l', 'd', 'i', 'n', 'g', 's', ' ', 'i', 'n', ' ', 'L', 'o', 'n', 'd', 'o', 'n', 'a', 'r', 'e', ' ', 't', 'o', 'o', ' ', 'd', 'i', 'v', 'e', 'r', 's', 'e', 't', 'o', ' ', 'b', 'e', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 'i', 's', 'e', 'd', 'b', 'y', ' ', 'a', 'n', 'y', ' ', 'p', 'a', 'r', 't', 'i', 'c', 'u', 'l', 'a', 'r', ' ', 'a', 'r', 'c', 'h', 'i', 't', 'e', 'c', 't', 'u', 'r', 'a', 'l', ' ', 's', 't', 'y', 'l', 'e']

#### Exercise 14. Given a List, could you design a script to extract all elements whose frequency is greater than K.

In [93]:
lst = [4,5,-8,10,-9,0,10,11,20,5,69,-7,3]
k = 10
lst.sort()
for i in range(len(lst)):
    if k <= lst[i]:
        lst_2 = lst[i:]
        break
print(lst_2)

[10, 10, 11, 20, 69]